/vendor
/node_modules
/public/storage
/public/uploads/bhert_health_declaration
/public/uploads/certificate_of_employment
/public/uploads/old_medical_certificate
/public/uploads/new_medical_certificate
/public/uploads/government_id
/public/uploads/qrcode
/public/uploads/travel_pass_document_pdf
/public/uploads/travel_pass_qr_code_pdf
/public/uploads/barangay_certificate
/public/uploads/rapid_test_result
/public/uploads/medical_certificate_issued_by_city_health_office
/public/uploads/travel_pass_or_travel_authority
/public/uploads/passenger_government_id
/public/uploads/passenger_old_medical_certificate
/public/uploads/passenger_travel_pass_or_travel_authority
/public/uploads/users
Homestead.yaml
Homestead.json
.env
