@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* General CSS */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Red Hat Display', sans-serif;
}

/* headers */
.headers {
    color: #EA5656;
    font-weight: 700;
}

/* buttons */

.btn a:hover {
    color: #fff;
}
.btn-background {
    background-color: #EA5656!important;
}
/* Text/Paragrph alignment */
.paragraph-alignment {
    text-align: justify;
    text-justify: inter-word;
}

/* Footer */

 footer {
    background-color: #27332C;
    color: white;
}


.footer-title {
    font-weight: bold;
}

.footer-link:hover {
    color: #ffffff;
}

.footer-link {
    color: white;
    text-decoration: none;
}

#footer-links {
    border-right: 1px solid white;
}

footer h1 {
    font-size: 55px;
    font-weight: bold;
} 


/*Social media Icon*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    border-radius: 50%;
    
  }
  
  .fa:hover {
      opacity: 0.5;
      color: #ffffff;
      transition: .5s;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }